.background40 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bleu-roi-950);
}

.photo-2024-06-26-12-37-05-remo-icon12 {
    height: 74px;
    width: 79px;
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
    z-index: 1;
}

.eglise-rvle-christ12 {
    align-self: stretch;
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    flex-shrink: 0;
    z-index: 1;
}

.eglise-rvle-christ-lumire-wrapper1 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-mid) 0 0;
}

.eglise-rvle-christ-lumire-wrapper1,
.frame-wrapper2,
.photo-2024-06-26-12-37-05-remo-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.photo-2024-06-26-12-37-05-remo-container {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-xs);
}

.frame-wrapper2 {
    width: 207.2px;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}

.divider6 {
    width: 2px;
    height: 82px;
    position: relative;
    border-right: 2px solid var(--white);
    box-sizing: border-box;
    opacity: 0.1;
}

.divider-frame {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-sm) 0 0;
    box-sizing: border-box;
}

.home7 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 40px;
}

.navbar-links-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
    text-align: right;
}

.about-us13 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 66px;
    white-space: nowrap;
}

.navbar-links-labels1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.sermon7 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 57px;
}

.navbar-links-labels2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.blog13 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 35px;
}

.navbar-links-labels3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.frame-parent13,
.links-list12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

.links-list12 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    color: var(--color-gray-500);
}

.frame-parent13 {
    width: 673px;
    justify-content: flex-start;
    gap: var(--gap-40xl-8);
}

.button-text20 {
    text-decoration: none;
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--paragraph);
    color: var(--black);
    text-align: center;
    display: inline-block;
    min-width: 120px;
}

.nav-button-wrapper1,
.nav-button6,
.navbar6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-button6 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl) var(--padding-29xl);
    background-color: var(--bleu-roi-400);
    backdrop-filter: blur(80px);
    border-radius: var(--br-xs);
    flex-direction: row;
    z-index: 1;
}

.button12:hover,
.nav-button6:hover {
    background-color: var(--color-cornflowerblue-100);
}

.nav-button-wrapper1,
.navbar6 {
    flex-direction: column;
    padding: var(--padding-xs) 0 0;
}

.navbar6 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-72xl) 0 var(--padding-22xl);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 99;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--paragraph-size);
    color: var(--white);
    font-family: var(--paragraph);
}

.image-icon6 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.au-service-du,
.qui-sommes-nous1 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    z-index: 1;
}

.qui-sommes-nous1 {
    min-width: 129px;
}

.au-service-du {
    margin: 0;
    width: 849px;
    font-size: var(--heading-h2-size);
    letter-spacing: -0.01em;
    line-height: 64px;
    font-weight: 700;
    font-family: inherit;
    max-width: 100%;
}

.about-us-hero,
.about-us-hero-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.about-us-hero {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-141xl) var(--padding-xl) var(--padding-141xl) var(--padding-91xl);
    position: relative;
    gap: var(--gap-base);
}

.about-us-hero-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 var(--padding-109xl);
}

.bienvenue-dans-notre1 {
    position: relative;
    text-transform: uppercase;
}

.bienvenue-dans-notre-glise-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
}

.amour-et-compassion1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--heading-h2-size);
    letter-spacing: -0.01em;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
}

.frame-parent14,
.welcome-content-inner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.frame-parent14 {
    width: 544px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.welcome-content-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.text1 {
    width: 768px;
    position: relative;
    line-height: 24px;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
}

.welcome-description {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
    color: var(--color-gray-600);
}

.httpswwwpexelscomphotoa-icon2 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-11xl);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.welcome-image-items {
    height: 448px;
    width: 293px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-45xl) 0 0;
    box-sizing: border-box;
}

.httpswwwpexelscomphotom-icon2,
.httpswwwpexelscomphotop-icon1 {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.httpswwwpexelscomphotom-icon2 {
    height: 512px;
    border-radius: var(--br-13xl);
    min-width: 253px;
}

.httpswwwpexelscomphotop-icon1 {
    align-self: stretch;
    border-radius: var(--br-11xl);
    max-height: 100%;
}

.welcome-image-items1 {
    height: 448px;
    width: 293px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-45xl) 0 0;
    box-sizing: border-box;
}

.welcome-content,
.welcome-images {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.welcome-images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-5xl);
}

.welcome-content {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-13xl);
}

.la-recherche-dun,
.our-mission {
    position: relative;
    text-transform: uppercase;
}

.la-recherche-dun {
    margin: 0;
    align-self: stretch;
    font-size: var(--heading-h4-size);
    letter-spacing: -0.01em;
    line-height: 44px;
    font-weight: 700;
    font-family: inherit;
}

.lorem-ipsum-dolor38 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    color: var(--color-gray-600);
}

.mission-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    min-width: 242px;
    max-width: 100%;
}

.apporter-la-paix,
.ce-que-nous {
    position: relative;
    text-transform: uppercase;
}

.apporter-la-paix {
    margin: 0;
    align-self: stretch;
    font-size: var(--heading-h4-size);
    letter-spacing: -0.01em;
    line-height: 44px;
    font-weight: 700;
    font-family: inherit;
}

.lorem-ipsum-dolor39 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    color: var(--color-gray-600);
}

.mission-items1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    min-width: 242px;
    max-width: 100%;
}

.mission,
.mission-wrapper {
    flex-direction: row;
    align-items: flex-start;
}

.mission {
    width: 767px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
}

.mission-wrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    box-sizing: border-box;
    text-align: left;
}

.mission-wrapper,
.welcome,
.welcome-wrapper {
    display: flex;
    max-width: 100%;
}

.welcome {
    width: 1024px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-45xl);
}

.welcome-wrapper {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-45xl);
    box-sizing: border-box;
    text-align: center;
}

.benefits2 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 79px;
}

.benefits-container {
    width: 585px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.benefits-of-our1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--heading-h2-size);
    letter-spacing: -0.01em;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
}

.benefits-content,
.frame-parent15 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.frame-parent15 {
    width: 630px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.benefits-content {
    width: 998px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.trouver-lpanouissement-et {
    margin: 0;
    width: 445px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.lorem-ipsum-dolor40 {
    align-self: stretch;
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 24px;
    color: var(--color-gray-600);
}

.benefit-item,
.benefit-item-content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.benefit-item-content1 {
    align-self: stretch;
    gap: var(--gap-xs);
}

.benefit-item {
    flex: 1;
    padding: 0 0 var(--padding-23xl);
    box-sizing: border-box;
    min-width: 325px;
    min-height: 238px;
}

.httpsunsplashcomphotos3m-icon {
    height: 320px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 325px;
}

.benefit-item-parent,
.benefits1 {
    display: flex;
    align-items: flex-end;
    max-width: 100%;
}

.benefit-item-parent {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--heading-h4-size);
}

.benefits1 {
    width: 1024px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-45xl);
}

.benefits-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-13xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
}

.httpsunsplashcomphotos3x-icon {
    height: 320px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 325px;
}

.des-valeurs-partages {
    margin: 0;
    width: 410px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.lorem-ipsum-dolor41 {
    align-self: stretch;
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 24px;
    color: var(--color-gray-600);
}

.des-valeurs-partages-parent,
.values-image-items-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.des-valeurs-partages-parent {
    align-self: stretch;
    gap: var(--gap-base);
}

.values-image-items-inner {
    width: 476px;
    padding: var(--padding-63xl) 0 0;
    box-sizing: border-box;
    min-width: 476px;
}

.values-image-items,
.values-images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
}

.values-image-items {
    width: 1024px;
    gap: var(--gap-29xl);
}

.values-images {
    align-self: stretch;
    padding: 0 var(--padding-xl) var(--padding-13xl);
    box-sizing: border-box;
    font-size: var(--heading-h4-size);
}

.vnements-caritatifs {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.lorem-ipsum-dolor42 {
    align-self: stretch;
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 24px;
    color: var(--color-gray-600);
}

.frame-wrapper3,
.vnements-caritatifs-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.vnements-caritatifs-parent {
    align-self: stretch;
    gap: var(--gap-base);
}

.frame-wrapper3 {
    flex: 1;
    padding: var(--padding-63xl) 0 0;
    box-sizing: border-box;
    min-width: 325px;
}

.httpsunsplashcomphotos3m-icon1 {
    height: 320px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 325px;
}

.frame-parent16,
.values-images1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
}

.frame-parent16 {
    width: 1024px;
    flex-wrap: wrap;
    gap: var(--gap-5xl);
}

.values-images1 {
    align-self: stretch;
    padding: 0 var(--padding-xl) var(--padding-13xl);
    box-sizing: border-box;
    font-size: var(--heading-h4-size);
}

.httpsunsplashcomphotos3x-icon1 {
    height: 320px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 325px;
}

.tous-sont-les {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.lorem-ipsum-dolor43 {
    align-self: stretch;
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 24px;
    color: var(--color-gray-600);
}

.frame-wrapper4,
.tous-sont-les-bienvenus-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.tous-sont-les-bienvenus-parent {
    align-self: stretch;
    gap: var(--gap-base);
}

.frame-wrapper4 {
    width: 476px;
    padding: var(--padding-63xl) 0 0;
    box-sizing: border-box;
    min-width: 476px;
}

.httpsunsplashcomphotos3x-parent,
.values-images2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
}

.httpsunsplashcomphotos3x-parent {
    width: 1024px;
    gap: var(--gap-29xl);
}

.values-images2 {
    align-self: stretch;
    padding: 0 var(--padding-xl) var(--padding-45xl);
    box-sizing: border-box;
    font-size: var(--heading-h4-size);
}

.church-officers {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 100px;
}

.officers-content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
}

.les-leader-de {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--heading-h2-size);
    letter-spacing: -0.01em;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    text-align: center;
}

.officers,
.officers-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.officers {
    width: 470px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.officers-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.background41 {
    width: 302px;
    height: 366px;
    position: relative;
    background-color: var(--bleu-roi-50);
    display: none;
}

.httpswwwpexelscomphotow-icon1 {
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.105);
}

.wrapper-httpswwwpexelscom {
    height: 152px;
    width: 152px;
    position: relative;
    border-radius: var(--br-187xl);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.officer-item-image {
    align-self: stretch;
    height: 152px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-6xs) 0 var(--padding-5xs);
    box-sizing: border-box;
}

.messanvi-gbeti {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
}

.aptre-premier-leader {
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.facebook-negative7,
.linkedin-negative7,
.twitter-negative7 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 16px;
    z-index: 1;
}

.officer-social-items {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-xl);
}

.officer-position-items,
.officer-social,
.officer-social-items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.officer-social {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-10xl) 0 var(--padding-9xl);
}

.officer-position-items {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-base);
}

.messanvi-gbeti-parent,
.officer-position {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.officer-position {
    flex-direction: row;
    padding: 0 var(--padding-2xs);
    font-size: var(--paragraph-size);
    color: var(--color-gray-200);
}

.messanvi-gbeti-parent {
    flex-direction: column;
    gap: var(--gap-5xs);
}

.background42,
.item26 {
    background-color: var(--bleu-roi-50);
}

.item26 {
    flex: 0.6844;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-29xl) 68px var(--padding-29xl) 67px;
    box-sizing: border-box;
    gap: var(--gap-7xl);
    min-width: 264px;
    max-width: 302px;
}

.background42 {
    width: 302px;
    height: 366px;
    position: relative;
    display: none;
}

.httpswwwpexelscomphotop-icon2 {
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.105);
}

.wrapper-httpswwwpexelscom1 {
    height: 152px;
    width: 152px;
    position: relative;
    border-radius: var(--br-187xl);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-httpswwwpexelscom-wrapper {
    align-self: stretch;
    height: 152px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-10xl) 0 var(--padding-8xl);
    box-sizing: border-box;
}

.sekemawou-yawavi {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
}

.epse-gbeti {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 73px;
    z-index: 1;
}

.epse-gbeti-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-6xs) 0 var(--padding-5xs);
}

.facebook-negative8,
.linkedin-negative8,
.twitter-negative8 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 16px;
    z-index: 1;
}

.facebook-negative-parent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-xl);
}

.facebook-negative-parent,
.frame-parent17,
.frame-wrapper5,
.sekemawou-yawavi-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent17 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-base);
}

.frame-wrapper5,
.sekemawou-yawavi-parent {
    align-self: stretch;
}

.frame-wrapper5 {
    flex-direction: row;
    padding: 0 60px 0 59px;
    font-size: var(--paragraph-size);
    color: var(--color-gray-200);
}

.sekemawou-yawavi-parent {
    flex-direction: column;
    gap: var(--gap-5xs);
}

.background43,
.item27 {
    background-color: var(--bleu-roi-50);
}

.item27 {
    flex: 0.8525;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-29xl) 47px;
    box-sizing: border-box;
    gap: var(--gap-7xl);
    min-width: 264px;
    max-width: 302px;
}

.background43 {
    width: 302px;
    height: 366px;
    position: relative;
    display: none;
}

.image-icon7 {
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.105);
}

.wrapper-image {
    height: 152px;
    width: 152px;
    position: relative;
    border-radius: var(--br-187xl);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-image-wrapper {
    align-self: stretch;
    height: 152px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 50px 0 var(--padding-23xl);
    box-sizing: border-box;
}

.messan-adjignon-koessan {
    position: relative;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    z-index: 2;
}

.president-des-pasteurs {
    position: relative;
    line-height: 24px;
    z-index: 2;
}

.messan-adjignon-koessan-parent,
.officer-role {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.officer-role {
    flex-direction: row;
    padding: 0 49px;
    font-size: var(--paragraph-size);
    color: var(--color-gray-200);
}

.messan-adjignon-koessan-parent {
    flex-direction: column;
    gap: var(--gap-5xs);
}

.facebook-negative9,
.linkedin-negative9,
.twitter-negative9 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 16px;
    z-index: 1;
}

.facebook-negative-group,
.frame-parent18,
.frame-wrapper6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.facebook-negative-group {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-xl);
}

.frame-parent18,
.frame-wrapper6 {
    align-self: stretch;
}

.frame-wrapper6 {
    flex-direction: row;
    padding: 0 var(--padding-59xl);
}

.frame-parent18 {
    flex-direction: column;
    gap: var(--gap-2xl);
}

.background44,
.item28 {
    background-color: var(--bleu-roi-50);
}

.item28 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-29xl) 25px var(--padding-29xl) 33px;
    box-sizing: border-box;
    gap: var(--gap-7xl);
    min-width: 264px;
    max-width: 302px;
    font-size: 20px;
}

.background44 {
    width: 302px;
    height: 366px;
    position: relative;
    display: none;
}

.image-icon8 {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.105);
}

.wrapper-image1 {
    width: 152px;
    height: 152px;
    position: relative;
    border-radius: var(--br-187xl);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emmanuel-tia {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
}

.pastor-church {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 92px;
    z-index: 1;
}

.facebook-negative10,
.linkedin-negative10,
.twitter-negative10 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 16px;
    z-index: 1;
}

.facebook-negative-container {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-xl);
}

.facebook-negative-container,
.frame-wrapper8,
.pastor-church-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-wrapper8 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
}

.pastor-church-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-base);
}

.frame-wrapper7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-10xl) 0 var(--padding-11xl);
    text-align: left;
    font-size: var(--paragraph-size);
    color: var(--color-gray-200);
}

.emmanuel-tia-parent,
.item29 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.emmanuel-tia-parent {
    align-self: stretch;
    gap: var(--gap-5xs);
}

.item29 {
    flex: 0.623;
    background-color: var(--bleu-roi-50);
    padding: var(--padding-29xl) 75px;
    box-sizing: border-box;
    gap: var(--gap-7xl);
    min-width: 264px;
    max-width: 302px;
    text-align: center;
}

.officers-items {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-5xl);
    font-size: var(--heading-h5-size);
}

.values,
.values-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.values {
    width: 1280px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-45xl);
    text-align: left;
    font-size: var(--paragraph-size);
    color: var(--black1);
    font-family: var(--paragraph);
}

.values-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-109xl);
    box-sizing: border-box;
}

.background-shape6 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bleu-roi-950);
}

.eglise-rvle-christ13 {
    flex: 1;
    position: relative;
    text-transform: uppercase;
}

.logo6 {
    width: 140px;
    height: 28.4px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-lgi) 0 var(--padding-11xl);
    box-sizing: border-box;
}

.copyright-finsweet-20226 {
    position: relative;
    text-transform: uppercase;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-6xs) 0 0;
}

.footer-logo,
.footer-logo-container {
    display: flex;
    justify-content: flex-start;
}

.footer-logo {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-5xl-6);
}

.footer-logo-container {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 var(--padding-12xs);
}

.address4 {
    display: inline-block;
    min-width: 73px;
}

.address4,
.finsweetexamplecom6,
.washington-ave6 {
    position: relative;
    text-transform: uppercase;
}

.washington-ave6 {
    display: inline-block;
    min-width: 120px;
}

.finsweetexamplecom6 {
    white-space: nowrap;
}

.address-number6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    text-align: left;
}

.photo-2024-06-26-12-37-05-remo-icon13 {
    width: 79px;
    height: 74px;
    position: absolute;
    margin: 0 !important;
    top: -21px;
    left: -29px;
    object-fit: contain;
    z-index: 2;
}

.content-left6,
.footer-content4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-left6 {
    align-self: stretch;
    position: relative;
    gap: var(--gap-13xl);
    z-index: 1;
}

.footer-content4 {
    width: 156px;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}

.quicklinks6 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 66px;
}

.about-us14,
.blog14,
.events6,
.sermons8 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 50px;
}

.blog14,
.events6,
.sermons8 {
    min-width: 49px;
}

.blog14,
.events6 {
    min-width: 39px;
}

.blog14 {
    min-width: 27px;
}

.links-column6,
.links-list13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.links-list13 {
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--cap-02-size);
    color: var(--color-gray-700);
}

.links-column6 {
    gap: var(--gap-xl);
    z-index: 1;
}

.connect13 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 53px;
}

.facebook-negative11,
.linkedin-negative11,
.twitter-negative11 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 16px;
}

.social-wrapper6 {
    flex-direction: row;
    gap: var(--gap-xl);
}

.connect12,
.footer-links,
.social-wrapper6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.connect12 {
    flex-direction: column;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
}

.footer-links {
    width: 226px;
    flex-direction: row;
    gap: var(--gap-53xl);
    min-width: 226px;
}

.subscribe-to-get6 {
    margin: 0;
    width: 377px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.yourmailgmailcom6 {
    position: relative;
    line-height: 24px;
    white-space: nowrap;
    z-index: 2;
}

.email-field1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) 0 0;
}

.background45 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-gray-900);
    box-sizing: border-box;
    z-index: 1;
}

.button-text21 {
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--paragraph);
    color: var(--black);
    text-align: center;
    display: inline-block;
    min-width: 73px;
}

.button12,
.input12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.button12 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) var(--padding-45xl);
    background-color: var(--bleu-roi-400);
    border-radius: var(--br-xs);
    justify-content: flex-start;
}

.input12 {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-xl);
    position: relative;
    gap: var(--gap-xl);
    text-align: right;
    font-size: var(--paragraph-size);
    color: var(--color-gray-800);
}

.footer-right4,
.subscription6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.subscription6 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
    min-width: 333px;
    z-index: 1;
    text-align: left;
    font-size: var(--heading-h4-size);
}

.footer-right4 {
    width: 853px;
    flex-direction: row;
    gap: var(--gap-96xl);
    text-align: right;
    font-size: var(--paragraph-size);
}

.about-us12,
.footer6 {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-family: var(--paragraph);
}

.footer6 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-45xl) var(--padding-91xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--cap-02-size);
    color: var(--white);
}

.about-us12 {
    width: 100%;
    background-color: var(--white);
    /* overflow: hidden; */
    flex-direction: column;
    justify-content: flex-start;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--paragraph-size);
    color: var(--black1);
}

@media screen and (max-width: 1250px) {

    .values-wrapper,
    .welcome-wrapper {
        padding-bottom: var(--padding-23xl);
        box-sizing: border-box;
    }

    .values-wrapper {
        padding-bottom: var(--padding-35xl);
    }

    .footer6 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1100px) {
    .eglise-rvle-christ12 {
        display: none;
    }

    .about-us-hero {
        padding-left: var(--padding-36xl);
        box-sizing: border-box;
    }

    .benefits1,
    .welcome {
        gap: var(--gap-13xl);
    }

    .values-image-items-inner {
        flex: 1;
    }

    .values-image-items {
        flex-wrap: wrap;
    }

    .frame-wrapper4 {
        flex: 1;
    }

    .httpsunsplashcomphotos3x-parent,
    .officers-items {
        flex-wrap: wrap;
    }

    .values-wrapper {
        padding-bottom: 35px;
        box-sizing: border-box;
    }

    .footer-links {
        flex: 1;
    }

    .footer-right4 {
        flex-wrap: wrap;
        gap: var(--gap-38xl);
    }
}

@media screen and (max-width: 750px) {
    .frame-parent13 {
        gap: var(--gap-11xl);
    }

    .navbar6 {
        padding-right: var(--padding-26xl);
        box-sizing: border-box;
    }

    .au-service-du {
        font-size: var(--font-size-19xl);
        line-height: 51px;
    }

    .about-us-hero {
        padding-left: var(--padding-8xl);
        box-sizing: border-box;
    }

    .about-us-hero-wrapper {
        padding-bottom: var(--padding-64xl);
        box-sizing: border-box;
    }

    .amour-et-compassion1 {
        font-size: var(--font-size-19xl);
        line-height: 51px;
    }

    .welcome-content {
        gap: var(--gap-base);
    }

    .apporter-la-paix,
    .la-recherche-dun {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .welcome {
        gap: var(--gap-base);
    }

    .welcome-wrapper {
        padding-bottom: var(--padding-8xl);
        box-sizing: border-box;
    }

    .benefits-of-our1 {
        font-size: var(--font-size-19xl);
        line-height: 51px;
    }

    .trouver-lpanouissement-et {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .benefits1 {
        gap: var(--gap-base);
    }

    .des-valeurs-partages {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .values-image-items-inner {
        min-width: 100%;
    }

    .values-image-items {
        gap: var(--gap-5xl);
    }

    .tous-sont-les,
    .vnements-caritatifs {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .frame-wrapper4 {
        min-width: 100%;
    }

    .httpsunsplashcomphotos3x-parent {
        gap: var(--gap-5xl);
    }

    .les-leader-de {
        font-size: var(--font-size-19xl);
        line-height: 51px;
    }

    .values {
        gap: var(--gap-13xl);
    }

    .values-wrapper {
        padding-bottom: 23px;
        box-sizing: border-box;
    }

    .subscribe-to-get6 {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .input12 {
        flex-wrap: wrap;
        padding-right: var(--padding-xl);
        padding-bottom: var(--padding-xl);
        box-sizing: border-box;
    }

    .subscription6 {
        gap: var(--gap-base);
    }

    .footer6 {
        padding-left: var(--padding-36xl);
        padding-right: var(--padding-36xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .links-list12 {
        display: none;
    }

    .frame-parent13 {
        width: 267px;
    }

    .navbar6 {
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .au-service-du {
        font-size: var(--font-size-10xl);
        line-height: 38px;
    }

    .about-us-hero {
        padding-top: var(--padding-85xl);
        padding-bottom: var(--padding-85xl);
        box-sizing: border-box;
    }

    .amour-et-compassion1 {
        font-size: var(--font-size-10xl);
        line-height: 38px;
    }

    .welcome-image-items,
    .welcome-image-items1 {
        padding-top: var(--padding-23xl);
        box-sizing: border-box;
    }

    .apporter-la-paix,
    .la-recherche-dun {
        font-size: var(--font-size-lgi);
        line-height: 26px;
    }

    .benefits-of-our1 {
        font-size: var(--font-size-10xl);
        line-height: 38px;
    }

    .des-valeurs-partages,
    .tous-sont-les,
    .trouver-lpanouissement-et,
    .vnements-caritatifs {
        font-size: var(--font-size-lgi);
        line-height: 26px;
    }

    .values-images2 {
        padding-bottom: var(--padding-23xl);
        box-sizing: border-box;
    }

    .les-leader-de {
        font-size: var(--font-size-10xl);
        line-height: 38px;
    }

    .messanvi-gbeti {
        font-size: var(--font-size-lgi);
    }

    .item26 {
        padding: var(--padding-12xl) var(--padding-xl);
        box-sizing: border-box;
        flex: 1;
    }

    .sekemawou-yawavi {
        font-size: var(--font-size-lgi);
    }

    .item27 {
        padding: var(--padding-12xl) var(--padding-xl);
        box-sizing: border-box;
        flex: 1;
    }

    .messan-adjignon-koessan {
        font-size: var(--paragraph-size);
    }

    .item28 {
        padding-top: var(--padding-12xl);
        padding-bottom: var(--padding-12xl);
        box-sizing: border-box;
    }

    .emmanuel-tia {
        font-size: var(--font-size-lgi);
    }

    .item29 {
        padding: var(--padding-12xl) var(--padding-xl);
        box-sizing: border-box;
        flex: 1;
    }

    .values {
        gap: var(--gap-base);
    }

    .subscribe-to-get6 {
        font-size: var(--font-size-lgi);
        line-height: 26px;
    }

    .footer-right4 {
        gap: var(--gap-10xl);
    }

    .footer6 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
}