.background44 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bleu-roi-950);
}

.photo-2024-06-26-12-37-05-remo-icon12 {
    height: 74px;
    width: 79px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.eglise-rvle-christ12 {
    align-self: stretch;
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    z-index: 1;
}

.eglise-rvle-christ-lumire-wrapper2 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-mid) 0 0;
}

.eglise-rvle-christ-lumire-wrapper2,
.logo-wrapper-wrapper,
.logo-wrapper2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo-wrapper2 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-xs);
}

.logo-wrapper-wrapper {
    width: 207.2px;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}

.divider6 {
    width: 2px;
    height: 82px;
    position: relative;
    border-right: 2px solid var(--white);
    box-sizing: border-box;
    opacity: 0.1;
}

.divider-wrapper1 {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-sm) 0 0;
    box-sizing: border-box;
}

.home7 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 40px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
    text-align: right;
}

.about-us13 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 66px;
    white-space: nowrap;
}

.about-us-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.sermon7 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 57px;
}

.sermon-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.blog13 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 35px;
}

.blog-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.frame-parent24,
.links-list12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

.links-list12 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    color: var(--color-gray-600);
}

.frame-parent24 {
    width: 673px;
    justify-content: flex-start;
    gap: var(--gap-40xl-8);
}

.button-text20 {
    text-decoration: none;
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--paragraph);
    color: var(--black);
    text-align: center;
    display: inline-block;
    min-width: 120px;
}

.nav-button-wrapper3,
.nav-button6,
.navbar6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-button6 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl) var(--padding-29xl);
    background-color: var(--bleu-roi-400);
    backdrop-filter: blur(80px);
    border-radius: var(--br-xs);
    flex-direction: row;
    z-index: 1;
}

.button12:hover,
.nav-button6:hover {
    background-color: var(--color-cornflowerblue-100);
}

.nav-button-wrapper3,
.navbar6 {
    flex-direction: column;
    padding: var(--padding-xs) 0 0;
}

.navbar6 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-72xl) 0 var(--padding-22xl);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 99;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--paragraph-size);
    color: var(--white);
    font-family: var(--paragraph);
}

.relationship11 {
    position: relative;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(109.61deg, #a54e2b, #dc9853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: 87.3px;
}

.relationship-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}

.comment-faire-preuve {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--heading-h2-size);
    letter-spacing: -0.01em;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    text-align: center;
}

.by-mathew-johnson10,
.may-20181 {
    position: relative;
    line-height: 24px;
    flex-shrink: 0;
}

.may-20181 {
    display: inline-block;
    min-width: 84px;
}

.by-mathew-johnson10 {
    flex: 1;
}

.blog-post-meta-wrapper {
    width: 246.6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
}

.blog-post-meta-wrapper-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    font-size: var(--paragraph-size);
}

.blog-post-content,
.blog-post-header {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.blog-post-header {
    width: 820px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.blog-post-content {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-base);
    box-sizing: border-box;
    font-size: var(--cap-02-size);
    color: var(--black1);
}

.main-image-icon {
    height: 510px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.main-image-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
}

.lorem-ipsum-dolor36 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--heading-h2-size);
    letter-spacing: -0.01em;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    color: var(--black1);
}

.aenean-vel-elit,
.lorem-ipsum-dolor37 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
}

.blog-content-wrapper1 {
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
}

.blog-content-wrapper-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.image-icon8 {
    width: 768px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.image-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.lorem-ipsum-dolor38 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--heading-h4-size);
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    color: var(--black1);
}

.aenean-vel-elit1 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
}

.quote-line1 {
    height: 120px;
    width: 3px;
    position: relative;
    background-color: var(--primary);
}

.lorem-ipsum-dolor39 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 400;
    font-family: inherit;
}

.lorem-ipsum-dolor-sit-amet-co-wrapper3,
.quote-line-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.lorem-ipsum-dolor-sit-amet-co-wrapper3 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-7xs) 0 0;
    box-sizing: border-box;
    min-width: 481px;
}

.quote-line-parent {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-5xl);
    font-size: var(--heading-h5-size);
}

.lorem-ipsum-dolor40 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
}

.quote-paragraph {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
    gap: var(--gap-5xl);
    max-width: 100%;
}

.lorem-ipsum-dolor41 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--heading-h4-size);
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    color: var(--black1);
}

.we-both-celebrate3 {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    max-width: 100%;
}

.we-both-celebrate-and-challeng-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
    max-width: 100%;
}

.bullet-point {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-darkslategray);
}

.bullet-point-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-2xs) 0 0;
}

.lorem-ipsum-dolor42 {
    margin: 0;
}

.lorem-ipsum-dolor-container {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 289px;
    max-width: 100%;
}

.bullet-point-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
    max-width: 100%;
}

.bullet-point1 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-darkslategray);
}

.bullet-point-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
}

.purus-sit-amet {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 256px;
    max-width: 100%;
}

.bullet-point-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
    max-width: 100%;
}

.bullet-point2 {
    width: 5px;
    height: 5px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-darkslategray);
}

.bullet-point-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
}

.aenean-vel-elit2 {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 329px;
    max-width: 100%;
}

.bullet-point-wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
    max-width: 100%;
}

.bullet-point-wrapper-parent,
.lorem-ipsum-dolor-sit-amet-con-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.bullet-point-wrapper-parent {
    width: 632px;
    gap: var(--gap-9xs);
}

.lorem-ipsum-dolor-sit-amet-con-parent {
    align-self: stretch;
    gap: var(--gap-5xl);
}

.lorem-ipsum-dolor43,
.saepe-magni-aut {
    align-self: stretch;
    position: relative;
    line-height: 24px;
}

.lorem-ipsum-dolor-sit-amet-co-group,
.quote-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.lorem-ipsum-dolor-sit-amet-co-group {
    align-self: stretch;
    gap: var(--gap-5xl);
}

.quote-wrapper {
    width: 767px;
    gap: var(--gap-13xl);
    max-width: 100%;
}

.quote-wrapper-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-2xl) 0 var(--padding-xl);
    box-sizing: border-box;
}

.blog-post-content-parent,
.blog-post-inner,
.quote-wrapper-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.blog-post-content-parent {
    width: 1280px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-29xl);
    text-align: left;
    font-size: var(--label-03-size);
    color: var(--color-gray-700);
    font-family: var(--paragraph);
}

.blog-post-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.background-shape6 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bleu-roi-950);
}

.eglise-rvle-christ13 {
    flex: 1;
    position: relative;
    text-transform: uppercase;
}

.logo-frame,
.logo6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.logo6 {
    height: 28.4px;
    flex: 1;
    overflow: hidden;
    padding: var(--padding-10xs) var(--padding-lgi) 0 var(--padding-11xl);
}

.logo-frame {
    width: 172px;
    padding: 0 var(--padding-base);
}

.copyright-mida-20243 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 124px;
}

.copyright-mida-2024-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) var(--padding-5xs-4);
}

.address5 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 93px;
}

.contacterclorg4 {
    display: inline-block;
    min-width: 105px;
    white-space: nowrap;
}

.cocody-2-plateaux4,
.contacterclorg4 {
    position: relative;
    text-transform: uppercase;
}

.address-number6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    text-align: left;
}

.photo-2024-06-26-12-37-05-remo-icon13 {
    width: 79px;
    height: 74px;
    position: absolute;
    margin: 0 !important;
    top: -21px;
    left: -29px;
    object-fit: cover;
    z-index: 2;
}

.content-left-wrapper,
.content-left6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-left6 {
    position: relative;
    gap: var(--gap-5xl-6);
    z-index: 1;
}

.content-left-wrapper {
    padding: var(--padding-10xs) 0 0;
}

.quicklinks6 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 66px;
}

.about-us14,
.blog14,
.events6,
.sermons7 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 50px;
}

.blog14,
.events6,
.sermons7 {
    min-width: 49px;
}

.blog14,
.events6 {
    min-width: 39px;
}

.blog14 {
    min-width: 27px;
}

.links-column6,
.links-list13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.links-list13 {
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--cap-02-size);
    color: var(--color-gray-800);
}

.links-column6 {
    gap: var(--gap-xl);
    z-index: 1;
}

.connect13 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 53px;
}

.facebook-negative11,
.linkedin-negative11,
.twitter-negative11 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 16px;
}

.social-wrapper6 {
    flex-direction: row;
    gap: var(--gap-xl);
}

.connect12,
.links-column-parent,
.social-wrapper6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.connect12 {
    flex-direction: column;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
}

.links-column-parent {
    width: 226px;
    flex-direction: row;
    gap: var(--gap-53xl);
    min-width: 226px;
}

.subscribe-to-get6 {
    margin: 0;
    width: 377px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.yourmailgmailcom6 {
    position: relative;
    line-height: 24px;
    white-space: nowrap;
    z-index: 2;
}

.yourmailgmailcom-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) 0 0;
}

.background45 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-gray-1000);
    box-sizing: border-box;
    z-index: 1;
}

.button-text21 {
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--paragraph);
    color: var(--black);
    text-align: center;
    display: inline-block;
    min-width: 73px;
}

.button12,
.input10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.button12 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) var(--padding-45xl);
    background-color: var(--bleu-roi-400);
    border-radius: var(--br-xs);
    justify-content: flex-start;
}

.input10 {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-xl);
    position: relative;
    gap: var(--gap-xl);
    text-align: right;
    font-size: var(--paragraph-size);
    color: var(--color-gray-900);
}

.frame-parent25,
.subscription6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.subscription6 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
    min-width: 333px;
    z-index: 1;
    text-align: left;
    font-size: var(--heading-h4-size);
}

.frame-parent25 {
    width: 853px;
    flex-direction: row;
    gap: var(--gap-96xl);
    text-align: right;
    font-size: var(--paragraph-size);
}

.blog-post,
.footer6 {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.footer6 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-45xl) var(--padding-91xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--cap-02-size);
    color: var(--white);
    font-family: var(--paragraph);
}

.blog-post {
    width: 100%;
    background-color: var(--bleu-roi-50);
    /* overflow: hidden; */
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-109xl);
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1325px) {
    .footer6 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1125px) {
    .eglise-rvle-christ12 {
        display: none;
    }

    .frame-parent25 {
        gap: var(--gap-38xl);
    }
}

@media screen and (max-width: 800px) {
    .frame-parent24 {
        gap: var(--gap-11xl);
    }

    .navbar6 {
        padding-right: var(--padding-26xl);
        box-sizing: border-box;
    }

    .comment-faire-preuve,
    .lorem-ipsum-dolor36 {
        font-size: var(--font-size-19xl);
        line-height: 51px;
    }

    .lorem-ipsum-dolor38 {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .quote-line1 {
        width: 100%;
        height: 3px;
    }

    .lorem-ipsum-dolor-sit-amet-co-wrapper3 {
        min-width: 100%;
    }

    .lorem-ipsum-dolor41 {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .blog-post-content-parent {
        gap: var(--gap-5xl);
    }

    .links-column-parent {
        flex: 1;
    }

    .subscribe-to-get6 {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .input10 {
        flex-wrap: wrap;
        padding-right: var(--padding-xl);
        padding-bottom: var(--padding-xl);
        box-sizing: border-box;
    }

    .subscription6 {
        gap: var(--gap-base);
    }

    .frame-parent25 {
        flex-wrap: wrap;
    }

    .footer6 {
        padding-left: var(--padding-36xl);
        padding-right: var(--padding-36xl);
        box-sizing: border-box;
    }

    .blog-post {
        gap: var(--gap-45xl);
    }
}

@media screen and (max-width: 450px) {
    .links-list12 {
        display: none;
    }

    .frame-parent24 {
        width: 267px;
    }

    .navbar6 {
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .comment-faire-preuve,
    .lorem-ipsum-dolor36 {
        font-size: var(--font-size-10xl);
        line-height: 38px;
    }

    .lorem-ipsum-dolor38 {
        font-size: var(--font-size-lgi);
        line-height: 26px;
    }

    .lorem-ipsum-dolor39,
    .lorem-ipsum-dolor41 {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }

    .lorem-ipsum-dolor41 {
        line-height: 26px;
    }

    .quote-wrapper {
        gap: var(--gap-base);
    }

    .subscribe-to-get6 {
        font-size: var(--font-size-lgi);
        line-height: 26px;
    }

    .frame-parent25 {
        gap: var(--gap-10xl);
    }

    .footer6 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .blog-post {
        gap: var(--gap-13xl);
    }
}