.background37 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bleu-roi-950);
}

.photo-2024-06-26-12-37-05-remo-icon10 {
    height: 74px;
    width: 79px;
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
    z-index: 1;
}

.eglise-rvle-christ10 {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    color: inherit;
    flex-shrink: 0;
    z-index: 1;
}

.eglise-rvle-christ-lumire-wrapper1 {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-mid) 0 0;
}

.eglise-rvle-christ-lumire-wrapper1,
.logo-container1,
.navbar-content4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.navbar-content4 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-xs);
}

.logo-container1 {
    width: 207.2px;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}

.divider5 {
    width: 2px;
    height: 82px;
    position: relative;
    border-right: 2px solid var(--white);
    box-sizing: border-box;
    opacity: 0.1;
}

.navbar-divider-container1 {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-sm) 0 0;
    box-sizing: border-box;
}

.home6 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 40px;
}

.navbar-link-items1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
    text-align: right;
}

.about-us11 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 66px;
    white-space: nowrap;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.sermon6 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 57px;
}

.sermon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.blog11 {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    min-width: 35px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xl) 0 0;
}

.links-list10,
.navbar-content3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

.links-list10 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
    color: var(--color-gray-600);
}

.navbar-content3 {
    width: 673px;
    justify-content: flex-start;
    gap: var(--gap-40xl-8);
}

.button-text17 {
    text-decoration: none;
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--paragraph);
    color: var(--black);
    text-align: center;
    display: inline-block;
    min-width: 120px;
}

.nav-button-wrapper2,
.nav-button5,
.navbar5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-button5 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl) var(--padding-29xl);
    background-color: var(--bleu-roi-400);
    backdrop-filter: blur(80px);
    border-radius: var(--br-xs);
    flex-direction: row;
    z-index: 1;
}

.button10:hover,
.button11:hover,
.nav-button5:hover {
    background-color: var(--color-cornflowerblue-100);
}

.nav-button-wrapper2,
.navbar5 {
    flex-direction: column;
    padding: var(--padding-xs) 0 0;
}

.navbar5 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-72xl) 0 var(--padding-22xl);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 99;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--paragraph-size);
    color: var(--white);
    font-family: var(--paragraph);
}

.httpsunsplashcomphotos86-icon {
    height: 334px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.httpsunsplashcomphotos86-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
}

.comment-vraiment-faire,
.upcoming-event3 {
    position: relative;
    text-transform: uppercase;
}

.upcoming-event3 {
    letter-spacing: 0.08em;
    display: inline-block;
    background: linear-gradient(109.61deg, #a54e2b, #dc9853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: 104px;
}

.comment-vraiment-faire {
    margin: 0;
    align-self: stretch;
    font-size: var(--heading-h5-size);
    letter-spacing: -0.01em;
    line-height: 64px;
    font-weight: 700;
    font-family: inherit;
}

.event-details1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--cap-02-size);
    color: var(--black1);
}

.lorem-ipsum-dolor29 {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    max-width: 100%;
}

.lorem-ipsum-dolor-sit-amet-co-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
    max-width: 100%;
}

.quote-line {
    height: 120px;
    width: 2.5px;
    position: relative;
    background-color: var(--primary);
}

.lorem-ipsum-dolor30 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 400;
    font-family: inherit;
}

.lorem-ipsum-dolor-sit-amet-co-frame,
.quote {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.lorem-ipsum-dolor-sit-amet-co-frame {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-7xs) 0 0;
    min-width: 395px;
}

.quote {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 var(--padding-5xs);
    gap: 19.7px;
    font-size: var(--heading-h5-size);
}

.lorem-ipsum-dolor31 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
}

.hero-image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    min-width: 409px;
    max-width: 100%;
}

.background38 {
    width: 522px;
    height: 484px;
    position: relative;
    background-color: var(--color-whitesmoke);
    display: none;
    max-width: 100%;
}

.register-now {
    margin: 0;
    width: 218px;
    position: relative;
    font-size: var(--heading-h4-size);
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--paragraph);
    color: var(--black1);
    text-align: left;
    display: inline-block;
    z-index: 1;
}

.shape-child,
.shape-item {
    position: absolute;
    box-sizing: border-box;
}

.shape-child {
    top: 3px;
    right: 4px;
    border-radius: var(--br-smi);
    border: 1.5px solid var(--black1);
    width: 16px;
    height: 16px;
}

.shape-item {
    top: 17.3px;
    right: 11.2px;
    border-right: 1.5px solid var(--black1);
    width: 1.5px;
    height: 7.5px;
    z-index: 1;
}

.no-233-main6,
.shape {
    position: relative;
    z-index: 1;
}

.shape {
    height: 24px;
    width: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.no-233-main6 {
    flex: 1;
    font-size: var(--paragraph-size);
    line-height: 24px;
    font-family: var(--paragraph);
    color: var(--black1);
    text-align: left;
}

.address-container1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    min-width: 142px;
}

.may-2018,
.shape-icon1 {
    position: relative;
    z-index: 1;
}

.shape-icon1 {
    height: 24px;
    width: 24px;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.may-2018 {
    font-size: var(--paragraph-size);
    line-height: 24px;
    font-family: var(--paragraph);
    color: var(--black1);
    text-align: left;
    display: inline-block;
    min-width: 89px;
}

.event-location1,
.shape-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}

.event-location1 {
    width: 352px;
    gap: 15px;
    max-width: 100%;
}

.nom-complet {
    font-size: var(--cap-02-size);
    line-height: 16px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-gray-200);
    text-align: left;
    display: inline-block;
    min-width: 78px;
}

.leonard-john,
.line7,
.nom-complet {
    position: relative;
    z-index: 1;
}

.leonard-john {
    width: 190px;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--font-roboto);
    font-size: var(--paragraph-size);
    background-color: transparent;
    height: 24px;
    line-height: 24px;
    color: var(--b);
    text-align: left;
    display: inline-block;
    padding: 0;
}

.line7 {
    align-self: stretch;
    height: 1px;
    border-top: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    opacity: 0.2;
}

.form-fields,
.nom-complet-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-fields {
    align-self: stretch;
    gap: var(--gap-5xs);
}

.nom-complet-parent {
    width: 412px;
    gap: var(--gap-xs);
    max-width: 100%;
}

.email {
    width: 104px;
    font-size: var(--cap-02-size);
    line-height: 16px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--color-gray-200);
    text-align: left;
    display: inline-block;
}

.adminabccom,
.email,
.line8 {
    position: relative;
    z-index: 1;
}

.adminabccom {
    width: 179px;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--font-roboto);
    font-size: var(--paragraph-size);
    background-color: transparent;
    height: 24px;
    line-height: 24px;
    color: var(--b);
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    padding: 0;
}

.line8 {
    align-self: stretch;
    height: 1px;
    border-top: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    opacity: 0.2;
}

.field-inputs,
.form-fields1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.field-inputs {
    align-self: stretch;
    gap: var(--gap-5xs);
}

.form-fields1 {
    width: 412px;
    gap: var(--gap-xs);
    max-width: 100%;
}

.button-text18 {
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--paragraph);
    color: var(--black);
    text-align: center;
}

.button10 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) var(--padding-45xl);
    background-color: var(--bleu-roi-400);
    border-radius: var(--br-xs);
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
}

.button10,
.event-content1,
.hero,
.register {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.register {
    margin: 0;
    width: 522px;
    background-color: var(--color-whitesmoke);
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-21xl);
    box-sizing: border-box;
    gap: 31.5px;
    min-width: 522px;
}

.event-content1,
.hero {
    flex-direction: row;
}

.event-content1 {
    width: 1280px;
    justify-content: flex-start;
    gap: var(--gap-109xl);
}

.hero {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--paragraph-size);
    color: var(--color-gray-700);
    font-family: var(--paragraph);
}

.more-sermons {
    margin: 0;
    width: 362px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
}

.sermon-list-heading {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 22px 0 var(--padding-xl);
}

.background39 {
    align-self: stretch;
    height: 454px;
    position: relative;
    background-color: var(--white);
    display: none;
}

.card-image {
    position: relative;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    display: inline-block;
    min-width: 25px;
    z-index: 1;
}

.card-image-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.july5 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 31px;
    z-index: 1;
}

.sermon-item-title {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.upcoming-event4 {
    position: relative;
    font-size: var(--cap-02-size);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(109.61deg, #a54e2b, #dc9853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: 104px;
    z-index: 1;
}

.sermon-item-title-parent {
    gap: var(--gap-4xs);
    font-size: var(--paragraph-size);
}

.sermon-card-details,
.sermon-item-title-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.lorem-ipsum-dolor32,
.random-acts-of1 {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.random-acts-of1 {
    margin: 0;
    width: 210px;
    font-size: inherit;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
}

.lorem-ipsum-dolor32 {
    width: 214px;
    line-height: 24px;
}

.clock-icon6 {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
}

.card-image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.friday-2339-ist6 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.sermon-item-date-time {
    width: 173px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.line9 {
    position: absolute;
    top: 19px;
    right: 9.5px;
    border-right: 1.5px solid var(--black1);
    box-sizing: border-box;
    width: 1.5px;
    height: 7.5px;
}

.circle6,
.icon9 {
    width: 20px;
    z-index: 1;
}

.circle6 {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--br-smi);
    border: 1.5px solid var(--black1);
    box-sizing: border-box;
    height: 20px;
}

.icon9 {
    height: 25px;
    position: relative;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.no-233-main7 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.card-event-time {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-base);
}

.card-event-details,
.card-event-details-wrapper,
.card-event-time {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-event-details {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-base);
}

.card-event-details-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-11xs);
    color: var(--black1);
}

.lorem-ipsum-dolor-sit-amet-co-parent,
.sermon-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.lorem-ipsum-dolor-sit-amet-co-parent {
    width: 222px;
    gap: var(--gap-13xl);
    font-size: var(--paragraph-size);
    color: var(--color-gray-700);
}

.sermon-item-content {
    flex: 1;
    gap: var(--gap-base);
}

.card-event-schedule {
    width: 288px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-7xl);
    box-sizing: border-box;
}

.bottom-line7 {
    align-self: stretch;
    height: 16px;
    position: relative;
    background-color: var(--bleu-roi-400);
    z-index: 1;
}

.background40,
.item26 {
    background-color: var(--white);
}

.item26 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-5xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-45xl);
    min-width: 278px;
    max-width: 302px;
}

.background40 {
    width: 302px;
    height: 454px;
    position: relative;
    display: none;
}

.b4 {
    position: relative;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    display: inline-block;
    min-width: 25px;
    z-index: 1;
}

.card-bottom-titles {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.july6 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 31px;
    z-index: 1;
}

.july-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.upcoming-event5 {
    position: relative;
    font-size: var(--cap-02-size);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(109.61deg, #a54e2b, #dc9853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: 104px;
    z-index: 1;
}

.card-bottom-schedule-details {
    gap: var(--gap-4xs);
    font-size: var(--paragraph-size);
}

.card-bottom-schedule-details,
.card-bottom-titles-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.faith-is-a1 {
    margin: 0;
    width: 210px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
}

.lorem-ipsum-dolor33 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.sermon-item-meta-descriptions {
    width: 214px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-base);
    box-sizing: border-box;
    font-size: var(--paragraph-size);
    color: var(--color-gray-700);
}

.clock-icon7 {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
}

.clock-icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.friday-2339-ist7 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.sermon-item-meta-time-icon-con {
    width: 173px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.line10 {
    position: absolute;
    top: 19px;
    right: 9.5px;
    border-right: 1.5px solid var(--black1);
    box-sizing: border-box;
    width: 1.5px;
    height: 7.5px;
}

.circle7,
.icon10 {
    width: 20px;
    z-index: 1;
}

.circle7 {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--br-smi);
    border: 1.5px solid var(--black1);
    box-sizing: border-box;
    height: 20px;
}

.icon10 {
    height: 25px;
    position: relative;
}

.icon-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.no-233-main8 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.card-bottom-schedule-times {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-base);
}

.card-bottom-schedule-times,
.item-inner2,
.sermon-item-meta-time-icon-con-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.sermon-item-meta-time-icon-con-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-base);
}

.item-inner2 {
    width: 224px;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
    font-size: var(--paragraph-size);
}

.background41,
.item27 {
    background-color: var(--white);
}

.item27 {
    flex: 0.7815;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xl) var(--padding-7xl) var(--padding-61xl) var(--padding-21xl);
    box-sizing: border-box;
    gap: var(--gap-base);
    min-width: 278px;
    max-width: 302px;
}

.background41 {
    width: 302px;
    height: 454px;
    position: relative;
    display: none;
}

.b5 {
    position: relative;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    display: inline-block;
    min-width: 25px;
    z-index: 1;
}

.wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.july7 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 31px;
    z-index: 1;
}

.july-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.upcoming-event6 {
    position: relative;
    font-size: var(--cap-02-size);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(109.61deg, #a54e2b, #dc9853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: 104px;
    z-index: 1;
}

.frame-parent15 {
    gap: var(--gap-4xs);
    font-size: var(--paragraph-size);
}

.frame-parent14,
.frame-parent15 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.there-is-nothing1 {
    margin: 0;
    width: 210px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
}

.lorem-ipsum-dolor34 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.lorem-ipsum-dolor-sit-amet-co-wrapper1 {
    width: 214px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-base);
    box-sizing: border-box;
    font-size: var(--paragraph-size);
    color: var(--color-gray-700);
}

.clock-icon8 {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
}

.clock-icon-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.friday-2339-ist8 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.frame-parent17 {
    width: 173px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.line11 {
    position: absolute;
    top: 19px;
    right: 9.5px;
    border-right: 1.5px solid var(--black1);
    box-sizing: border-box;
    width: 1.5px;
    height: 7.5px;
}

.circle8,
.icon11 {
    width: 20px;
    z-index: 1;
}

.circle8 {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--br-smi);
    border: 1.5px solid var(--black1);
    box-sizing: border-box;
    height: 20px;
}

.icon11 {
    height: 25px;
    position: relative;
}

.icon-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.no-233-main9 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.frame-parent18 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-base);
}

.frame-parent16,
.frame-parent18,
.item-inner3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent16 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-base);
}

.item-inner3 {
    width: 224px;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
    font-size: var(--paragraph-size);
}

.background42,
.item28 {
    background-color: var(--white);
}

.item28 {
    flex: 0.7815;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xl) var(--padding-7xl) var(--padding-61xl) var(--padding-21xl);
    box-sizing: border-box;
    gap: var(--gap-base);
    min-width: 278px;
    max-width: 302px;
}

.background42 {
    width: 302px;
    height: 454px;
    position: relative;
    display: none;
}

.b6 {
    position: relative;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    display: inline-block;
    min-width: 25px;
    z-index: 1;
}

.wrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.july8 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 31px;
    z-index: 1;
}

.july-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.upcoming-event7 {
    position: relative;
    font-size: var(--cap-02-size);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(109.61deg, #a54e2b, #dc9853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: 104px;
    z-index: 1;
}

.frame-parent20 {
    gap: var(--gap-4xs);
    font-size: var(--paragraph-size);
}

.frame-parent19,
.frame-parent20 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.celebrating-freedom-and {
    margin: 0;
    width: 210px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
}

.lorem-ipsum-dolor35 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.lorem-ipsum-dolor-sit-amet-co-wrapper2 {
    width: 214px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-base);
    box-sizing: border-box;
    font-size: var(--paragraph-size);
    color: var(--color-gray-700);
}

.clock-icon9 {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
}

.clock-icon-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.friday-2339-ist9 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.frame-parent22 {
    width: 173px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.line12 {
    position: absolute;
    top: 19px;
    right: 9.5px;
    border-right: 1.5px solid var(--black1);
    box-sizing: border-box;
    width: 1.5px;
    height: 7.5px;
}

.circle9,
.icon12 {
    width: 20px;
    z-index: 1;
}

.circle9 {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--br-smi);
    border: 1.5px solid var(--black1);
    box-sizing: border-box;
    height: 20px;
}

.icon12 {
    height: 25px;
    position: relative;
}

.icon-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.no-233-main10 {
    flex: 1;
    position: relative;
    line-height: 24px;
    z-index: 1;
}

.frame-parent21,
.frame-parent23 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-parent23 {
    align-self: stretch;
    flex-direction: row;
}

.frame-parent21 {
    flex: 1;
    flex-direction: column;
}

.item-inner4 {
    width: 224px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
    font-size: var(--paragraph-size);
}

.item-inner4,
.item29,
.sermon-items1 {
    display: flex;
    align-items: flex-start;
}

.item29 {
    flex: 0.7815;
    background-color: var(--white);
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-5xl) var(--padding-7xl) var(--padding-61xl) var(--padding-21xl);
    box-sizing: border-box;
    gap: var(--gap-base);
    min-width: 278px;
    max-width: 302px;
}

.sermon-items1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--heading-h5-size);
}

.sermon-list-content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-45xl);
    max-width: 100%;
}

.sermon-list-content-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--heading-h2-size);
    color: var(--black1);
    font-family: var(--paragraph);
}

.background-shape5 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bleu-roi-950);
}

.eglise-rvle-christ11 {
    flex: 1;
    position: relative;
    text-transform: uppercase;
}

.logo-wrapper1,
.logo5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.logo5 {
    height: 28.4px;
    flex: 1;
    overflow: hidden;
    padding: var(--padding-10xs) var(--padding-lgi) 0 var(--padding-11xl);
}

.logo-wrapper1 {
    width: 172px;
    padding: 0 var(--padding-base);
}

.copyright-mida-20242 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 124px;
}

.copyright1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) var(--padding-5xs-4);
}

.address4 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 93px;
}

.contacterclorg3 {
    display: inline-block;
    min-width: 105px;
    white-space: nowrap;
}

.cocody-2-plateaux3,
.contacterclorg3 {
    position: relative;
    text-transform: uppercase;
}

.address-number5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    text-align: left;
}

.photo-2024-06-26-12-37-05-remo-icon11 {
    width: 79px;
    height: 74px;
    position: absolute;
    margin: 0 !important;
    top: -21px;
    left: -29px;
    object-fit: cover;
    z-index: 2;
}

.content-left5,
.footer-content5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-left5 {
    position: relative;
    gap: var(--gap-5xl-6);
    z-index: 1;
}

.footer-content5 {
    padding: var(--padding-10xs) 0 0;
}

.quicklinks5 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 66px;
}

.about-us12,
.blog12,
.events5,
.sermons6 {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 50px;
}

.blog12,
.events5,
.sermons6 {
    min-width: 49px;
}

.blog12,
.events5 {
    min-width: 39px;
}

.blog12 {
    min-width: 27px;
}

.links-column5,
.links-list11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.links-list11 {
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--cap-02-size);
    color: var(--color-gray-800);
}

.links-column5 {
    gap: var(--gap-xl);
    z-index: 1;
}

.connect11 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 53px;
}

.facebook-negative10,
.linkedin-negative10,
.twitter-negative10 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 16px;
}

.social-wrapper5 {
    flex-direction: row;
    gap: var(--gap-xl);
}

.connect10,
.footer-right8,
.social-wrapper5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.connect10 {
    flex-direction: column;
    gap: var(--gap-xl);
    z-index: 1;
    text-align: left;
}

.footer-right8 {
    width: 226px;
    flex-direction: row;
    gap: var(--gap-53xl);
    min-width: 226px;
}

.subscribe-to-get5 {
    margin: 0;
    width: 377px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.yourmailgmailcom5 {
    position: relative;
    line-height: 24px;
    white-space: nowrap;
    z-index: 2;
}

.email-input1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) 0 0;
}

.background43 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-gray-1000);
    box-sizing: border-box;
    z-index: 1;
}

.button-text19 {
    text-decoration: none;
    position: relative;
    font-size: var(--paragraph-size);
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--paragraph);
    color: var(--black);
    text-align: center;
    display: inline-block;
    min-width: 73px;
}

.button11,
.input9 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.button11 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) var(--padding-45xl);
    background-color: var(--bleu-roi-400);
    border-radius: var(--br-xs);
    justify-content: flex-start;
}

.input9 {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-xl);
    position: relative;
    gap: var(--gap-xl);
    text-align: right;
    font-size: var(--paragraph-size);
    color: var(--color-gray-900);
}

.footer-right7,
.subscription5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.subscription5 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
    min-width: 333px;
    z-index: 1;
    text-align: left;
    font-size: var(--heading-h4-size);
}

.footer-right7 {
    width: 853px;
    flex-direction: row;
    gap: var(--gap-96xl);
    text-align: right;
    font-size: var(--paragraph-size);
}

.footer5,
.sermon-event {
    position: relative;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

.footer5 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-45xl) var(--padding-91xl);
    max-width: 100%;
    flex-shrink: 0;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--cap-02-size);
    color: var(--white);
    font-family: var(--paragraph);
}

.sermon-event {
    width: 100%;
    height: 2145px;
    background-color: var(--bleu-roi-50);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 439px;
    gap: var(--gap-109xl);
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1325px) {
    .event-content1 {
        gap: var(--gap-45xl);
    }

    .footer5 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1125px) {
    .eglise-rvle-christ10 {
        display: none;
    }

    .register {
        flex: 1;
    }

    .event-content1,
    .sermon-items1 {
        flex-wrap: wrap;
    }

    .footer-right7 {
        gap: var(--gap-38xl);
    }

    .sermon-event {
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .navbar-content3 {
        gap: var(--gap-11xl);
    }

    .navbar5 {
        padding-right: var(--padding-26xl);
        box-sizing: border-box;
    }

    .quote-line {
        width: 100%;
        height: 2.5px;
    }

    .lorem-ipsum-dolor-sit-amet-co-frame {
        min-width: 100%;
    }

    .quote {
        flex-wrap: wrap;
    }

    .hero-image-container {
        min-width: 100%;
    }

    .register-now {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .register {
        gap: var(--gap-base);
        padding-top: var(--padding-7xl);
        padding-bottom: var(--padding-7xl);
        box-sizing: border-box;
        min-width: 100%;
    }

    .event-content1 {
        gap: var(--gap-13xl);
    }

    .more-sermons {
        font-size: var(--font-size-19xl);
        line-height: 51px;
    }

    .sermon-list-content {
        gap: var(--gap-13xl);
    }

    .footer-right8 {
        flex: 1;
    }

    .subscribe-to-get5 {
        font-size: var(--font-size-7xl);
        line-height: 35px;
    }

    .input9 {
        flex-wrap: wrap;
        padding-right: var(--padding-xl);
        padding-bottom: var(--padding-xl);
        box-sizing: border-box;
    }

    .subscription5 {
        gap: var(--gap-base);
    }

    .footer-right7 {
        flex-wrap: wrap;
    }

    .footer5 {
        padding-left: var(--padding-36xl);
        padding-right: var(--padding-36xl);
        box-sizing: border-box;
    }

    .sermon-event {
        gap: var(--gap-45xl);
    }
}

@media screen and (max-width: 450px) {
    .links-list10 {
        display: none;
    }

    .navbar-content3 {
        width: 267px;
    }

    .navbar5 {
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .comment-vraiment-faire {
        font-size: var(--font-size-lgi);
        line-height: 51px;
    }

    .lorem-ipsum-dolor30,
    .register-now {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }

    .register-now {
        line-height: 26px;
    }

    .event-location1 {
        flex-wrap: wrap;
    }

    .button10 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .event-content1 {
        gap: var(--gap-base);
    }

    .more-sermons {
        font-size: var(--font-size-10xl);
        line-height: 38px;
    }

    .card-image,
    .random-acts-of1 {
        font-size: var(--font-size-lgi);
    }

    .item26 {
        gap: var(--gap-13xl);
    }

    .b4,
    .faith-is-a1 {
        font-size: var(--font-size-lgi);
    }

    .item27 {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-33xl);
        box-sizing: border-box;
        flex: 1;
    }

    .b5,
    .there-is-nothing1 {
        font-size: var(--font-size-lgi);
    }

    .item28 {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-33xl);
        box-sizing: border-box;
        flex: 1;
    }

    .b6,
    .celebrating-freedom-and {
        font-size: var(--font-size-lgi);
    }

    .item29 {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-33xl);
        box-sizing: border-box;
        flex: 1;
    }

    .sermon-list-content {
        gap: var(--gap-base);
    }

    .subscribe-to-get5 {
        font-size: var(--font-size-lgi);
        line-height: 26px;
    }

    .footer-right7 {
        gap: var(--gap-10xl);
    }

    .footer5 {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .sermon-event {
        gap: var(--gap-13xl);
    }
}